.primary-color {
    color: var(--primary-color) !important;
}
.primary-border-color {
    border-color: var(--primary-border-color) !important;
}
.primary-outline-color {
   outline-color: var(--primary-outline-color) !important;
}
.primary-bg-color-1 {
    background-color: var(--primary-bg-color-1) !important;
}
.primary-bg-color-2 {
    background-color: var(--primary-bg-color-2) !important;
}
.primary-bg-color-3 {
    background-color: var(--primary-bg-color-3) !important;
}
.primary-bg-color-4 {
    background-color: var(--primary-bg-color-4) !important;
}
